#wpwrap .pwm-shipments-table /*PWM Shipments Stylesheet*/
.pwm-form {margin: 20px 0 0 0;display: inline-block;width: 100%;border: 1px solid #f2f2f2;padding: 30px !important;box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);}
.pwm-form [class*="col-"] {padding: 0;margin: 0;}
.pwm-form .form-label {margin: 0 10px 0 0;padding: 0;font-weight: 600;font-size: 16px;}
.pwm-form select {height: 40px;padding: 0 15px;box-shadow: none;border: 1px solid #CCC;color:#333;outline:none;}
.pwm-form select:focus,
.pwm-form select:hover {box-shadow: none;border: 1px solid #f35302;color:#333;outline:none;}
.pwm-form .btn-default[type="submit"] {background: #f35302;display: block;width: auto;margin: 10px 0 0 0;border: 1px solid #f35302;border-radius: 0;padding: 5px 10px;height: inherit;color: #FFF;text-transform: uppercase;font-weight: 700;outline:none;transition: 0.3s;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;}
.pwm-form .btn-default[type="submit"]:hover {background:transparent;border: 1px solid #f35302;color:#f35302;outline:none;transition: 0.3s;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;}
#wpwrap .pwm-shipments-table .wp-list-table {border-collapse:collapse;width:100%;color:#444;}
#wpwrap .pwm-shipments-table .wp-list-table th, .pwm-shipments-table .wp-list-table td {padding:5px 20px; border: #ccc thin solid; vertical-align: middle;}
#wpwrap .pwm-shipments-table .wp-list-table td,.analytify_bar_tables td {text-align: left;}
#wpwrap .pwm-shipments-table .wp-list-table th {border-left:1px solid #e2e5e8;background:#f5f9ff;font-weight:500;font-weight: 600;}
#wpwrap .pwm-shipments-table .wp-list-table th:first-child {border-left:0px solid #e2e5e8;}
#wpwrap .pwm-shipments-table .wp-list-table .row-actions {margin:5px 0 0 0;}
#wpwrap .pwm-shipments-table .wp-list-table .row-actions span {margin: 0;padding: 0;font-size: 12px;font-weight: normal;}
#wpwrap .pwm-shipments-table .pagination-links .tablenav-pages-navspan {border-radius: 0 !important;border: 1px solid #CCC !important;background: #FFF !important;text-shadow: none !important;color: #666 !important;}
#wpwrap .pwm-shipments-table .pagination-links .paging-input #current-page-selector {border-radius: 0 !important;border: 1px solid #CCC !important;background: #FFF !important;text-shadow: none !important;color: #666 !important;outline:none !important;box-shadow:none !important;}
#wpwrap .pwm-shipments-table .pagination-links .paging-input #current-page-selector:hover,
#wpwrap .pwm-shipments-table .pagination-links .paging-input #current-page-selector:focus {outline:none !important;box-shadow:none !important;}
#wpwrap .pwm-shipments-table .pagination-links .first-page,
#wpwrap .pwm-shipments-table .pagination-links .prev-page {border-radius: 0 !important;border: 1px solid #CCC !important;background: #FFF !important;text-shadow: none !important;color:#666 !important;outline:none !important;box-shadow:none !important;}
#wpwrap .pwm-shipments-table .pagination-links .first-page:focus,
#wpwrap .pwm-shipments-table .pagination-links .prev-page:focus {outline:none !important;box-shadow:none !important;}
#wpwrap .pwm-shipments-table .pagination-links .next-page,
#wpwrap .pwm-shipments-table .pagination-links .last-page {border-radius: 0 !important;border: 1px solid #f45303 !important;background: #FFF !important;text-shadow: none !important;color:#f45303 !important;outline:none !important;box-shadow:none !important;}
#wpwrap .pwm-shipments-table .pagination-links .next-page:focus,
.pagination-links .last-page:focus {outline:none !important;box-shadow:none !important;}
#wpwrap .pwm-shipments-table .wp-list-table thead tr th {padding: 0px 20px; width: 100%; }
.pwm-shipments-div .border-box {box-shadow: #eee 0px 1px 0px 2px; padding: 15px; margin: 15px; display: grid; }
.packinglist-form .col-xs-6 {margin-top: 20px; }
.packinglist-form input.form-control {max-width: 25rem; height: 38px; }
.pwm-shipments-div .packinglist-div {margin: 20px 0px; }
.pwm-shipments-div .packinglist-div .wp-list-table td, .pwm-shipments-div .packinglist-div .wp-list-table th {border: #938f8f thin solid; }
.packinglist-div .wp-list-table .book-orders {background-color: darkgray; }
.book-orders td {color: #000; font-weight: bold; }
.download-form .download-btn { float: right; }
.packinglist-form-div { border-bottom: 2px #ccc solid; margin-bottom: 6px; padding: 10px; }
#wpwrap .pwm-shipments-table #error_file_data.wp-list-table thead tr th { width: auto; }